
[ req ]
distinguished_name = dn
prompt             = no

[ dn ]
C  = VN
O  = CPO
CN = CPO-Sub-CA1

[ cpo_ca_ext ]
basicConstraints       = critical, CA:true, pathlen:1
keyUsage               = critical, keyCertSign, cRLSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
