[ req ]
distinguished_name = dn
prompt = no

[ dn ]
C=VN
O=OEM
CN=OEM-Sub-CA1

[ oem_ca_ext ]
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
